*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;    
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;    
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0% auto;
}
.header__logo img{
    filter: grayscale(50%);
    transition: all 1s ease-out;
}
.header__logo img:hover{
    filter: grayscale(0%);
    transform: scale(1.2,1.2);
}
.header__menu{
    /* position: fixed; */
    /* width: 1280px; */
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}
.header__link {
    display: flex;
    gap: 33px;
}
.header__link img{
    display: none;
}
.header__link a{
    text-decoration: none;
    color: #83888F;
    font-family: "Barlow";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
}
.header__link a:hover{
    font-weight: 900;
}
/* .header__hero-img {
    position: relative;
    z-index: 1;
}
.header__hero-img img{
    border-radius: 15px;
} */
.header__hero{
    background-image: url("../img/Bitmap.png");
    background-size: cover;
    border-radius: 20px;
    background-position:center;

}
.header__hero-text{
    /* z-index: 2;
    position: relative; */
    padding-top: 100px;
    margin-left: 100px;
    padding-bottom: 100px;
}
.header__hero-text h1{
    color: #FEFCF7;
    font-family: 'Fraunces 9pt';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; /* 100% */    
}
.header__hero-text-p{
    opacity: 0.9;
    letter-spacing: 2px;
    color: #FEFCF7;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 26px; /* 162.5% */
}
.header__hero-text-button{
    margin-top: 100px;
    border-radius:6px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 50px;
    width: 217px;
    height: 56px;
    flex-shrink: 0;
}
.header__hero-text-button:hover{
    background: #66D2CF;
}
.header__hero-text-button p{
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces 9pt;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 138.889% */    
}
main{
    margin-top: 100px;
}
.main__text img{
    width: 1250px;
    height: 196px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    top: 100px;
    left: 30px;
}
.main__statsu{
    margin-top: 30px;
    position: absolute;
    z-index: 2;
    display: flex;
    /* justify-content: space-between; */
    gap: 75px;
}
.main__statsu img{
    width: 255px;
    height: 195px;
}
.main__statsu h3{
    color: #333D4B;
    text-align: center;
    font-family: "Fraunces" 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.main__statsu p{
    color: #333D4B;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.main__taklif{
    position: relative;
    z-index: 1;
    margin-top: 500px;
    width: 1280px;
    height: 577px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2C343E;
}
.main__taklif h3{
    padding-top: 100px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces" 9pt;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 120% */
}
.main__taklif p{
    padding-top: 32px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.main__choose{
    margin-left: 100px;
    position: relative;
    z-index: 2;
    margin-top: -231px;
    display: flex;
    gap: 30px;
}
.main__choose section{
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0E8784;
}
.main__choose img{
    margin-top: 72px;
    margin-left:135.5px;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}
.main__choose h3{
    margin-top: 56px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces" 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.main__choose p{
    margin-top: 24px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
    letter-spacing: 1px;
    line-height: 26px; /* 162.5% */
}
.works{
    margin-left: 100px;
    margin-top: 250px;
    margin-bottom: 100px;
    color: #83888F;
    font-family: "Fraunces" 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.oval{
    width: 31px;
    height: 31px;
    border-radius:50%;
    border: 1px solid #0E8784;

}
.path{
    width: 380px;
    height: 2px;
    background-color:#FDD6BA;
}
.main__oval{
    margin-left: 100px;
    display: flex;
    align-items:center;
    padding-bottom: 72px;
}
.main__make-coffe{
    display: flex;
    margin-left: 100px;
    gap: 105px;
}
.main__make-coffe img{
    width: 101px;
    height: 71px;
}
.main__make-coffe h3{
    margin-top: 38px;
    color: #333D4B;
    font-family: "Fraunces" 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
}
.main__make-coffe p{
    margin-top: 43px;
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.main__make-coffe-button{
    border-radius:6px;
    background-color: transparent;
    border: 1px solid black;
    margin-top: 64px;
    margin-bottom: 200px;
    margin-left: 100px;
    width: 217px;
    height: 56px;
    flex-shrink: 0;
}
.main__make-coffe-button:hover{
    background: #66D2CF;
    color: white;
    border: none;
}
.main__make-coffe-button p{
    text-align: center;
    font-family: "Fraunces" 9pt;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 138.889% */ 
}
.container__footer{
    width: 100%;
    max-width: 1280px;
    margin: 0% auto;
    height: 120px;
    background: #2C343E;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 85px;
    margin-left: 85px;
    padding-top: 47px;
}
.footer__menu{
    display: flex;
    gap: 33px;

}
.footer__menu a{
    text-decoration: none;
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
}
.footer__menu a:hover{
    color: white;
    font-weight: 900;
}
.footer__masseng{
    display: flex;
    gap: 30px;
}
.footer__masseng a{
    text-decoration: none;
    filter: contrast(50%);
}
.footer__masseng a:hover{
    filter: contrast(200%);
}
@media screen and (max-width:1200px) {
    .container{
        max-width: 90%;
    }
    .header__hero{
        background-size:cover;
       background-position: center;
    }
    .main__text img{
        max-width: 90%;
    }
    .main__statsu{
        display: flex;
        flex-direction: column;
    }
    .main__statsu section{
        display: flex;
        margin-left: 150px;
    }
    .main__statsu span{
        margin-top: 40px;
    }
    .main__taklif{
        margin-top: 1150px;
        max-width: 90%;
    }
    .main__choose{
        display: flex;
        flex-direction: column;
    }
    .main__choose section{
        display: flex;
        gap: 10px;
        max-width: 80%;
        width: 750px;
        height: 180px;
    }
    .main__choose section span{
        margin-left: 30px;
    }
    .main__choose section h3{
        padding: 0%;
        margin-top: 10px;
    }
    .main__choose section p{
       padding: 0%;
       margin-top: 10px;
    }
    .main__choose section img{
        margin-left: 70px;
        margin-top: 62px;
    }
    .works{
        margin-left: 40px;
    }
    .path{
        width: 300px;
    }
    .main__oval{
        margin-left: 40px;
        max-width: 90%;
    }
    .main__make-coffe{
        max-width: 90%;
        margin-left: 40px;
    }
    .main__make-coffe-button{
        margin-left: 40px;
    }
    footer{
        max-width: 90%;
       
    }
    .footer{
        
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 65px;
    }
    .container__footer{
        height: 270px;
        margin-left: 40px;
    }

}
@media screen and (max-width:1024px) {
    .main__statsu section{
        display: flex;
        margin-left: 100px;
    }
}
@media screen and (max-width:768px) {
    .container{
        width: 100%;
        max-width: 327px;
    }
    .container__footer{
        width: 100%;
        max-width: 327px;
    }
    .header__link a{
        display: none;
    }
    .header__link img{
        display: block;
    }
    .header__hero{
        background-size:cover;
        background-position:center;
    }
    .header__hero-text{
        margin-left: 24px;
        padding-bottom: 80px;
    }
    .header__hero-text h1{
        color: #FEFCF7;
        font-family: "Fraunces" 9pt;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px; /* 100% */
    }
    .main__statsu img{
        width: 200px;
        height: 151px;
    }
    .main__statsu{
        margin-top: 90px;
    }
    .main__statsu section{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .main__taklif{
        margin-top: 1550px;
        max-width: 327px;
        height: 902px;
    }
    .main__taklif p{
        display: none;
    }
    .main__taklif h3{
        color: #FEFCF7;
        text-align: center;
        font-family: "Fraunces" 9pt;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px; /* 100% */
    }
    .main__choose{
        margin-top: -570px;
        margin-left: 24px;
        width: 279px;
    }
    .main__choose section{
        max-width: 100%;
        width: 279px;
        height: 382px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .main__choose p{
        margin-right: 5px;
        color: #FEFCF7;
        /* text-align: center; */
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */         
    }
    .main__choose section img{
        margin-left: 104px;
        margin-top: 72px;
    }
    .main__oval{
        display: none;
    }
    .main__make-coffe{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items:center;
    }
    .main__make-coffe img{
        margin-left: 80px;
    }
    .main__make-coffe h3{
        color: #333D4B;
        text-align: center;
        font-family: "Fraunces" 9pt;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; /* 114.286% */
    }
    .main__make-coffe p{
        color: #333D4B;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
    }
    .main__make-coffe-button{
        margin-left: 75px;
    }
    .works {
        text-align: center;
    }
    .container__footer{
        margin-left: 195.5px;
        text-align: center;
        width: 327px;
        height: 346px;

    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .footer__menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items:center;
    }
}